.container{
    text-align: center;
    padding: 20px;
    margin: 90px 250px;
    background-color: lightgrey;
    
}
.panel-body{
    text-align: center;
    padding: 10px;
    margin: 40px 150px;
    background-color: #8BD7A5;
}
h1{
    background-color: #FD8E94;
    margin: 10px 270px;
}
.btn-primary:hover{
  background-color: #009031;
}

@media only screen and (max-width: 600px){
    .container{
        padding: 5px;
        width: 10px;
    }

    .panel-body{
        text-align: left;
        padding: 10px;
        margin: 10px;
        background-color: #8BD7A5;
    }
}